<div class='standard-form scrollable'>
	<p>
		{{localize 'fvtt-perf-optim.settings.custom-render-scale.menu.description'}}
	</p>

	{{formGroup fields.background value=renderScale.background localize=true}}
	{{formGroup fields.illumination value=renderScale.illumination localize=true}}
	{{formGroup fields.coloration value=renderScale.coloration localize=true}}
	{{formGroup fields.darkness value=renderScale.darkness localize=true}}
</form>
